<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB3ENndGqs_EkBT_43YseQ3FvU0QwmAb7w</string>
	<key>GCM_SENDER_ID</key>
	<string>384550126211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alius.gmrstock</string>
	<key>PROJECT_ID</key>
	<string>gmrstock</string>
	<key>STORAGE_BUCKET</key>
	<string>gmrstock.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384550126211:ios:11d90b418f899a7ae4d1b6</string>
</dict>
</plist>